<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=edit" />
  </head>
  <body>
    <nav class="navbar">
      <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      <a class="nav-link" href="{{ url_for('blogarchive') }}">Old blog Posts</a>
      <a class="nav-link" href="{{ url_for('tags') }}">Tags</a>
      <a class="nav-link" href="{{ url_for('create_post') }}">Create New Post</a>
    </nav>
    <section class="content">
        <h1>{{ title|capitalize }}</h1>
        <p>Welcome to an overview of my tags!</p>
        <div class="searchBox">
            <p>Here you can search for tags:</p>
          <form action="{{ url_for('search_tags') }}" method="get">
            <input type="text" name="query" placeholder="Search tags..." required>
            <button type="submit">Search</button>
          </form>
        </div>
        <section class="tagsSection">
          <ul class="tagList">
            {% if tags %}
            {% for tag in tags %}
            <li>
            <a href="{{ url_for('show_tag', tag_id=tag.id) }}">{{ tag.name }}</a> ({{ tag.post_count }})
            </li>
            {% endfor %}
            {% else %}
            <li>No tags found for "{{ query }}".</li>
            {% endif %}
            </ul>
        </section><!--/tagsSection-->
    </section><!--/content-->
    <footer>
      <p>Blogpost content created using ChatGPT</p>
      <p>Copyright © {{year}}</p>
    </footer>
  </body>
</html>